.wrapper {
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: flex;
}

.wrapper h2 {
  margin-bottom: 2rem;
}

.wrapper li {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.wrapper ul {
  margin-top: 2rem;
}

.btn {
  padding: 1rem 2rem;
  color: #313131;
  background-color: white;
  border: 2px solid black;
  margin-right: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.info {
  margin-left: 10rem;
}
